In [77]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [78]:
# load and clean data
df = pd.read_csv('D:\\properties_short.csv')
df = df[(df['yearbuilt'].notnull()
        & (df['regionidcity'].notnull())
        & (df['regionidcity'].notnull())
        & (df['taxvaluedollarcnt'].notnull()))]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98153 entries, 0 to 99999
Data columns (total 58 columns):
parcelid                        98153 non-null int64
airconditioningtypeid           35785 non-null float64
architecturalstyletypeid        0 non-null float64
basementsqft                    0 non-null float64
bathroomcnt                     98153 non-null float64
bedroomcnt                      98153 non-null float64
buildingclasstypeid             537 non-null float64
buildingqualitytypeid           98153 non-null float64
calculatedbathnbr               97459 non-null float64
decktypeid                      0 non-null float64
finishedfloor1squarefeet        0 non-null float64
calculatedfinishedsquarefeet    98150 non-null float64
finishedsquarefeet12            89637 non-null float64
finishedsquarefeet13            0 non-null float64
finishedsquarefeet15            8513 non-null float64
finishedsquarefeet50            0 non-null float64
finishedsquarefeet6             0 non-null float64
fips                            98153 non-null float64
fireplacecnt                    0 non-null float64
fullbathcnt                     97459 non-null float64
garagecarcnt                    0 non-null float64
garagetotalsqft                 0 non-null float64
hashottuborspa                  3 non-null object
heatingorsystemtypeid           91086 non-null float64
latitude                        98153 non-null float64
longitude                       98153 non-null float64
lotsizesquarefeet               96531 non-null float64
poolcnt                         19383 non-null float64
poolsizesum                     0 non-null float64
pooltypeid10                    3 non-null float64
pooltypeid2                     0 non-null float64
pooltypeid7                     19348 non-null float64
propertycountylandusecode       98153 non-null object
propertylandusetypeid           98153 non-null float64
propertyzoningdesc              97911 non-null object
rawcensustractandblock          98153 non-null float64
regionidcity                    98153 non-null float64
regionidcounty                  98153 non-null float64
regionidneighborhood            48620 non-null float64
regionidzip                     98153 non-null float64
roomcnt                         98153 non-null float64
storytypeid                     0 non-null float64
threequarterbathnbr             0 non-null float64
typeconstructiontypeid          0 non-null float64
unitcnt                         97675 non-null float64
yardbuildingsqft17              0 non-null float64
yardbuildingsqft26              0 non-null float64
yearbuilt                       98153 non-null float64
numberofstories                 523 non-null float64
fireplaceflag                   0 non-null float64
structuretaxvaluedollarcnt      97992 non-null float64
taxvaluedollarcnt               98153 non-null float64
assessmentyear                  98153 non-null float64
landtaxvaluedollarcnt           98153 non-null float64
taxamount                       97975 non-null float64
taxdelinquencyflag              2436 non-null object
taxdelinquencyyear              2436 non-null float64
censustractandblock             97392 non-null float64
dtypes: float64(53), int64(1), object(4)
memory usage: 44.2+ MB

C:\Users\Iana_Bondarska\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [79]:
# fill na values for some features
df['calculatedbathnbr'].fillna(1, inplace = True)

df['poolcnt'].fillna(0, inplace = True)

df['fireplacecnt'].fillna(0, inplace = True)

df['garagecarcnt'].fillna(0, inplace = True)

df['garagetotalsqft'].fillna(0, inplace = True)

df['poolsizesum'].fillna(0, inplace = True)

df['roomcnt'].fillna(1, inplace = True)

df['finishedsquarefeet12'].fillna(0, inplace = True)

df['yardbuildingsqft17'].fillna(0, inplace = True)

df['calculatedfinishedsquarefeet'].fillna(0, inplace = True)
df['age'] = 2018 - df['yearbuilt']
df = df[df['assessmentyear']==2016]

In [80]:
# select predictors 
predictor_properties = ['calculatedbathnbr', 'bathroomcnt', 'bedroomcnt', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12','fireplacecnt', 'garagecarcnt', 'garagetotalsqft', 'poolcnt', 'poolsizesum','roomcnt', 'yardbuildingsqft17', 'regionidcity', 'age', 'buildingqualitytypeid','heatingorsystemtypeid']
predictors = df[predictor_properties]
estimated_price = df[['taxvaluedollarcnt']]

In [82]:
# create categorical variables
from sklearn.preprocessing import LabelBinarizer 

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(predictors["heatingorsystemtypeid"])
pd.DataFrame(lb_results, columns=[]).head()

   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   10.0  11.0  12.0
0     0     0     0     0     0     1     0     0     0     0     0     0
1     0     0     0     1     0     0     0     0     0     0     0     0
2     0     0     0     1     0     0     0     0     0     0     0     0
3     1     0     0     0     0     0     0     0     0     0     0     0
4     0     0     1     0     0     0     0     0     0     0     0     0

In [74]:
 predictors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95760 entries, 2 to 99999
Data columns (total 14 columns):
calculatedbathnbr               95760 non-null float64
bathroomcnt                     95760 non-null float64
bedroomcnt                      95760 non-null float64
calculatedfinishedsquarefeet    95760 non-null float64
finishedsquarefeet12            95760 non-null float64
fireplacecnt                    95760 non-null float64
garagecarcnt                    95760 non-null float64
garagetotalsqft                 95760 non-null float64
poolcnt                         95760 non-null float64
poolsizesum                     95760 non-null float64
roomcnt                         95760 non-null float64
yardbuildingsqft17              95760 non-null float64
regionidcity                    95760 non-null float64
age                             95760 non-null float64
dtypes: float64(14)
memory usage: 11.0 MB